<%= form_tag do %>

	<div>
		<div>
			<%= label_tag(:name, "Name") %>
		</div>
		<%= @name %>
	</div>
	<div>
		<div>
			<%= label_tag(:descp, "Description") %>
		</div>
		<%= @descp %>
	</div>
	<div>
		<div>
			<%= label_tag(:Sex, "Gender") %>
		</div>

		<%= @sex %>
	</div>
	<div>
		<div>
			<%= label_tag(:hobbies, "Hobbies") %>
		</div>
		<%= @interest %>
	</div>
	<div>
		<div>
			<%= label_tag(:date, "Date of Birth") %>
		</div>
		<%= @date %>
	</div>
		
	
<% end %>

