<%= form_tag("/home/rg_data", :method => "post") do %>

	<div>
		<div>
			<%= label_tag(:name, "Name") %>
		</div>
		<%= text_field_tag(:name) %>
	</div>
	<div>
		<div>
			<%= label_tag(:descp, "Description") %>
		</div>
		<%= text_area(:descp, "Description") %>
	</div>
	<div>
		<div>
			<%= label_tag(:Sex, "Gender") %>
		</div>

		<%= label_tag(:gender, "Male") %>
		<%= radio_button_tag(:gender, "Male") %>	
		<%= label_tag(:gender, "Female") %>
		<%= radio_button_tag(:gender, "Female") %>
	</div>
	<div>
		<div>
			<%= label_tag(:hobbies, "Hobbies") %>
		</div>
		<%= check_box_tag(:inter,"Music") %>
		<%= label_tag(:inter, "Music") %>
		<%= check_box_tag(:inter,"Movies") %>
		<%= label_tag(:inter, "Movies") %><br>
	</div>
	<div>
		<div>
			<%= label_tag(:date, "Date of Birth") %>
		</div>
		<%= date_select :date, :order => [:date, :month, :year] %>
	</div>
		<%= submit_tag "Submit" %>
	
<% end %>

